<h2>Appointment</h2>

<%= form_for [@appointment.customer, @appointment] do |f| %>
    <%= f.label :date %>
    <%= f.text_field :date %>
    <br>
    <%= f.label :customer %>I think customer id needs to go here
    <%= f.text_field :customer %>
    <br>
    <%= f.label :notes %>
    <%= f.text_area :notes %>
    <br>
    <%= f.label :mechanic %>
    <%= f.text_field :mechanic %>
    <br>
    <%= f.submit "Make Appointment" %>
<% end %>